<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="#" class="navbar-brand">Netflix</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home </a>
      </li>
      <li class="nav-item">
        <a routerLink="/movies" class="nav-link" *ngIf="isLoggedIn">Movies</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a routerLink="/register" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/log" class="nav-link">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a routerLink="/favorite" class="nav-link">Favorite</a>
      </li>
      <li class="nav-item">
        <a routerLink class="nav-link" (click)="logOut()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>