<!-- <nav class="navbar navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My Top</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet> -->

  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Netflix</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item">
          <a href="/movies" class="nav-link" *ngIf="isLoggedIn" routerLink="movies">Movies</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/log" class="nav-link" routerLink="log">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/favorite" class="nav-link" routerLink="favorite">Favorite</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>